<a href="https://colab.research.google.com/github/imyoungchae/YoungChaeSon/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 집합

In [ ]:
mammal={'코끼리','고릴라','사자','고래','사람','원숭이','개'}
primate={'사람','원숭이','고릴라'}

if '사자' in mammal:
    print('사자는 포유류이다')
else:
    print("사자는 포유류가 아니다")

print(primate<=mammal)
print(primate<mammal)
print(primate<=primate)
print(primate<primate)

사자는 포유류이다
True
True
True
False

In [ ]:
asia={'korea','china','japan','korea'}
print(asia)#집합에 중복 불가능 korea는 하나만 출력된다


print(set("youngchae"))#순서 없이 나옴 문자 하나씩 출력
print(set([12,45,77,34]))#순서없이 나옴
print(set(("신지희","한주완","김태륜")))#순서 없이 나옴
print(set({'boy':'소년','school':'학교','book':'책'}))#key값만 나옴
print(set())#빈 집합은 그냥 set()그대로 출력

asia={'korea','japan','china'}
asia.add('vietnam')
asia.add('china')#중복이 안되기 때문에 최종 출력엔 china 1개
asia.remove('japan')
print(asia)
asia.update({'singapore','hongkong','korea'})
print(asia)

twox={2,4,6,8,10,12}
threex={3,6,9,12,15}

print('교집합',twox&threex)
print('합집합',twox|threex)#중복된 것들은 하나만 출력
print('차집합',twox-threex)
print('차집합',threex-twox)
print('배타적 차집합',twox^threex)# ^=Caret 한집합에 하나씩 있는 값들만 추린 것 / 합집합과 다르게 중복된 것들은 아예 출력 x

# 리스트 사용

-리스트를 이용한 피타고라스

In [ ]:
a=[(x,y,z) for x in range(1,30) for y in range(1,30) for z in range(1,30) if x**2 +y**2==z**2]

print(a)
new_list=[]
for x in range(1,30):
  for y in range(1,30):
    for z in range(y,30):
      if x**2+y**2==z**2:
        new_list.append((x,y,z))

print(new_list)

-친구 리스트 출력

In [ ]:
menu=0
friends=[]
while menu!=9:
  print('☆☆☆☆☆☆☆☆☆☆☆☆☆☆')
  print('1.친구 리스트 출력')
  print('2.친구 추가')
  print('3.친구 삭제')
  print('4.이름 변경')
  print('9.종료')
  print('★★★★★★★★★★★★★★')
  menu=int(input('메뉴를 선택하세요:  '))
  if menu==1:
    print(friends)
  elif menu==2:
    name=input('이름을 입력하시오:  ')
    friends.append(name)
  elif menu==3:
    del_name=input('삭제하고 싶은 이름을 입력하세요: ')
    if del_name in friends:
      friends.remove(del_name)
    else:
      print('이름이 발견되지 않음')
  elif menu==4:
    old_name=input('변경하고 싶은 이름을 입력하세요: ')
    if old_name in friends:
      index=friends.index(old_name)
      new_name=input('새로운 이름을 입력하세요: ')
      friends[index]=new_name
    else:
      print('이름이 발견되지 않음')

# 딕셔너리 사용

-알파벳 숫자 세기(딕셔너리 사용)

In [ ]:
song="""by the rivers of Babylon Where he sat down
yeah we wept, When we remember Zion.
When the wicked carried us away in captivity
Required from us a song
How can we sing King Alpha song in a strange land"""

alphabet=dict()
for a in song:
    if a.isalpha()==False:# isalpha = 공백일때
        continue
    a=a.lower()
    if a not in alphabet:
        alphabet[a]=1
    else:
        alphabet[a]+=1
print(alphabet)

#결과:{'b': 4, 'y': 5, 't': 7, 'h': 9, 'e': 21, 'r': 11, 'i': 11, 'v': 2, 's': 8, 'o': 8, 'f': 2, 'a': 14, 'l': 3, 'n': 14, 'w': 11, 'd': 5, 'p': 3, 'm': 3, 'z': 1, 'c': 4, 'k': 2, 'u': 3, 'q': 1, 'g': 5}
#      =>알파벳의 순서가 다르게 출력된다

key=list(alphabet.keys())
key.sort()
for c in key:
    num=alphabet[c]
    print(c,"=>",num)
#      =>알파벳의 순서가 올바르게 정렬되어 출력된다

-영한사전 만들기(딕셔너리 이용)

In [ ]:
english_dict=dict()

english_dict['one']='하나'
english_dict['two']='둘'
english_dict['three']='셋'

word=input('단어를 입력하시오:  ')
print(english_dict.get(word,'없음'))